// Base Styles

* {
  box-sizing: border-box;
}

body {
  @include text(1em, 1.5, $color: $color-text-base);
  margin: 0;
  font-family: $fonts-serif;
}

h1,
h2 {
  font-family: $fonts-serif;
}

h2 {
  @include text(3.3125em, 1.1, normal);
  margin: 0 0 .5em;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: $br;
}

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:hover {
    color: rgba($color-link-default, .5);
  }
}